REDDIT_CLIENT_ID=Wp1trmE8bFjdsTZdWwCE9g
REDDIT_CLIENT_SECRET=8gYjRYEAtYN5XdkINdmCSAY37OICng
REDDIT_USERNAME=ThinCartoonist1575
REDDIT_PASSWORD=Rq56Hv7k2WbvFvF
REDDIT_USER_AGENT=python:ScholarSearchBot:v1.0 (by /u/ScholarSearchAdmin)
